:root {
    --canvas-width: 800px;
    --canvas-height: 600px;
    --element-height: 50px;
}
/* <!------------------ top panel ----------------> */
input[type=text],
select {
    vertical-align: top;
}

input[type=text] {
    width: 200px ;
    height: var(--element-height);
}

select {
    width: 120px;
    height: var(--element-height);
    padding-top: 8px;
    background-color: var(--pico-primary);
    color: white;
}

button {
    height: var(--element-height);
    padding-top: 8px;
}

#time, #info {
    font-size: large;
    margin-left: 50px;
}

.canvas-frame {
    position: relative;
    width: var(--canvas-width);
    height: var(--canvas-height);
} 

#canvas,
#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    z-index: 2;
}
#canvas2 {
    z-index: 1;
}

/* <!------------------ bottom panel ----------------> */
.bottom-panel {
   margin-top: 4px;
   width: var(--canvas-width);
} 

.scene-textarea {
    display: inline; 
    height: var(--element-height);
}
.scene-btn {
    vertical-align: top; 
}