:root {
    --canvas-width: 800px;
    --canvas-height: 600px;
    --element-height: 50px;
}

input[type=text],
select,
button  {
    vertical-align: top;
    font-size: 0.9rem;
    margin-bottom: 0;
}



/* <!------------------ top panel ----------------> */

select,
button,
input[type=checkbox]
 {
    background-color:rgb(42, 111, 113);
    padding-top: 8px;
}

button {
    height: var(--element-height);
    
}
#helpButton {
        background-color: lightblue;
}

input[type=text] {
    width: 200px ;
    height: var(--element-height);
}

select {
    width: 120px;
    height: var(--element-height);
    padding-top: 8px;
    
    color: white;
}

#time, #info {
    font-size: large;
    margin-left: 50px;
}
label {
    display: inline;
}
section {
    margin-bottom: 6px;
}

/* <!------------------ canvases ----------------> */

.canvas-frame {
    position: relative;
    width: var(--canvas-width);
    height: var(--canvas-height);
} 

#canvas,
#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    z-index: 2;
}
#canvas2 {
    z-index: 1;
}

/* <!------------------ bottom panel ----------------> */
.bottom-panel {
   margin-top: 4px;
   width: var(--canvas-width);
} 

.scene-textarea {
    display: inline; 
    height: var(--element-height);
    width: calc(var(--canvas-width) - 154px);
}
.scene-btn {
    vertical-align: top; 
    background-color: lightblue;
    width: 70px;
}